<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{mall/layout/layout :: layout(~{::title},~{::main}, ~{::link}, null)}"
      lang="ko"
>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>주문 목록</title>

    <link rel="stylesheet" href="/css/mall/myorder.css" />
</head>
<body>

<!-- 메인 컨텐츠 -->
<main class="main-content container mt-4">
    <!-- 주문 목록 페이지 내용 -->
    <div class="container order-container">
        <h2>주문 목록 확인</h2>

        <!-- 주문 카드 시작 -->
        <div class="order-card" th:each="order : ${orderList}">
            <div class="order-header">
                <h4 th:text="'주문번호 : ' + ${order.id}"></h4>
                <span class="order-status"
                      th:classappend="${order.status == '001' ? 'status-completed' : 'status-pending'}"
                      th:text="${order.statusText}">
                    주문 완료
                </span>
            </div>
            <p class="order-details" th:text="'주문 시간: ' + ${#temporals.format(order.payDate, 'yyyy-MM-dd HH:mm:ss')} + ' | ' + '결제 총 금액: ' + ${#numbers.formatInteger(order.payAmount, 0, 'COMMA')} + '원'">
                주문 시간: 2025-01-22 | 결제 총 금액: ₩950,000
            </p>
            <div class="order-items">
                <div class="order-item" th:each="orderDetail : ${order.orderDetailInfos}">
                    <img th:src="'/admin/file/download?filePath=' + ${orderDetail.mainImgPath}" alt="상품 이미지">
                    <div class="item-details">
                        <div class="item-name" th:text="${orderDetail.productName}">스마트폰</div>
                        <div class="item-quantity" th:text="'수량: ' + ${orderDetail.quantity}">수량: 1</div>
                        <div class="item-price" th:text="${#numbers.formatInteger(orderDetail.price, 0, 'COMMA')} + '원'">₩950,000</div>
                    </div>
                </div>
            </div>
            <button class="btn btn-danger mt-2"
                    th:data-id="${order.id}"
                    th:data-status="${order.status}"
                    th:onclick="cancelOrder(this.getAttribute('data-id'), this.getAttribute('data-status'));">
                주문 취소
            </button>
        </div>
        <!-- 주문 카드 끝 -->

        <!-- 페이지네이션 -->
        <div class="pagination-container">
            <button class="pagination-button" onclick="prevPage();">이전</button>
            <button class="pagination-button" onclick="nextPage();">다음</button>
        </div>
    </div>

    <script>
        function getPage() {
            const urlParams = new URL(location.href).searchParams;
            let page = urlParams.get('page');
            if (!page) {
                page = 1;
            }
            return page;
        }

        function prevPage() {
            const page = getPage();
            let pageNum = Number(page) - 1;
            if (pageNum < 1) {
                pageNum = 1;
            }
            location.href = '/orders/my?page=' + pageNum;
        }

        function nextPage() {
            const page = getPage();
            let pageNum = Number(page) + 1;
            location.href = '/orders/my?page=' + pageNum;
        }

        function cancelOrder(orderId, status) {
            if (status !== '001') {
                alert('결제완료 상태에서만 취소가 가능합니다.')
                return;
            }

            if (!confirm('[[#{orders.cancel.before}]]')) {
                return;
            }

            const csrfToken = $("meta[name='_csrf']").attr("content");
            const csrfHeader = $("meta[name='_csrf_header']").attr("content");

            fetchPost({
                url : '/api/orders/cancel/' + orderId,
                headers : {
                    [csrfHeader] : csrfToken
                },
                success : async function(response) {
                    alert('[[#{orders.cancel.success}]]');
                    location.reload();
                },
                fail : async function(response) {
                    alert('[[#{orders.cancel.fail}]]');
                }
            });
        }
    </script>
</main>

</body>
</html>
