<!doctype html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
  <style>
    .navbar {
        height: 70px; /* 상단바 높이 */
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1000;
    }

    /* 상단바의 쇼핑몰 텍스트 */
    .navbar-brand {
        font-size: 30px; /* 텍스트 크기 조정 */
    }
  </style>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
        <i class="fa-solid fa-user-secret"></i> 박신사
      </a> <!-- 텍스트 크기를 크게 설정 -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto" sec:authorize="isAuthenticated()">
          <li class="nav-item">
            <a class="nav-link" href="#"><i class="fas fa-user"></i> 내 정보</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/cart"><i class="fas fa-shopping-cart"></i> 장바구니</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" onclick="logout();"><i class="fas fa-sign-out-alt"></i> 로그아웃</a>
          </li>
        </ul>

        <ul class="navbar-nav ms-auto" sec:authorize="!isAuthenticated()">
          <li class="nav-item">
            <a class="nav-link" href="/cart"><i class="fas fa-shopping-cart"></i> 장바구니</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/login"><i class="fas fa-user"></i> 로그인</a>
          </li>
        </ul>
      </div>
    </div>

    <script>
      function logout() {
        const csrfToken = $("meta[name='_csrf']").attr("content");
        const csrfHeader = $("meta[name='_csrf_header']").attr("content");

        fetchPost({
          url : '/logout',
          headers : {
            [csrfHeader] : csrfToken
          },
          success : async function(response) {
            document.cookie = "JSESSIONID=; path=/; domain=" + window.location.hostname + "; expires=Thu, 01 Jan 1970 00:00:00 GMT";
            alert('로그아웃이 완료되었습니다.');
            location.reload();
          },
          fail : async function(response) {
          }
        });
      }
    </script>
  </nav>
</body>
</html>
