<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{admin/layout/layout :: layout(~{::title},~{::main})}"
      lang="ko"
>
    <head>
        <title>관리자 - 대시보드</title>
    </head>
    <body>
        <main>
            <div class="container-fluid px-4">
                <h1 class="mt-4">쇼핑몰 현황</h1>
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item active">대시보드</li>
                </ol>
                <div class="row">
                    <div class="col-xl-3 col-md-6">
                        <div class="card bg-primary text-white mb-4">
                            <div class="card-body">결제완료</div>
                            <div class="card-footer d-flex align-items-center justify-content-between">
                                <a class="small text-white stretched-link" href="#">View Details</a>
                                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6">
                        <div class="card bg-warning text-white mb-4">
                            <div class="card-body">배송중</div>
                            <div class="card-footer d-flex align-items-center justify-content-between">
                                <a class="small text-white stretched-link" href="#">View Details</a>
                                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6">
                        <div class="card bg-success text-white mb-4">
                            <div class="card-body">배송완료</div>
                            <div class="card-footer d-flex align-items-center justify-content-between">
                                <a class="small text-white stretched-link" href="#">View Details</a>
                                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6">
                        <div class="card bg-danger text-white mb-4">
                            <div class="card-body">주문취소</div>
                            <div class="card-footer d-flex align-items-center justify-content-between">
                                <a class="small text-white stretched-link" href="#">View Details</a>
                                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-6">
                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-chart-area me-1"></i>
                                최근 일주일 주문수
                            </div>
                            <div class="card-body"><canvas id="myAreaChart" width="100%" height="40"></canvas></div>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-chart-bar me-1"></i>
                                판매량 순위 상품
                            </div>
                            <div class="card-body"><canvas id="myBarChart" width="100%" height="40"></canvas></div>
                        </div>
                    </div>
                </div>
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-table me-1"></i>
                        최근 가입자
                    </div>
                    <div class="card-body">
                        <table id="datatablesSimple">
                            <thead>
                            <tr>
                                <th>아이디</th>
                                <th>이름</th>
                                <th>이메일</th>
                                <th>가입일</th>
                            </tr>
                            </thead>
                            <tfoot>
                            <tr>
                                <th>아이디</th>
                                <th>이름</th>
                                <th>이메일</th>
                                <th>가입일</th>
                            </tr>
                            </tfoot>
                            <tbody>
                            <tr th:each="member : ${memberList}">
                                <td th:text="${member.id}"></td>
                                <td th:text="${member.name}"></td>
                                <td th:text="${member.email}"></td>
                                <td th:text="${#temporals.format(member.createInfo.createdDtm, 'yyyy-MM-dd HH:mm:ss')}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
            <script>
                Chart.defaults.global.defaultFontFamily = '-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif';
                Chart.defaults.global.defaultFontColor = '#292b2c';

                $(function() {
                    loadLineChart();
                    loadBarChart();
                });

                function loadLineChart() {
                    fetchGet({
                        url: '/admin/order/count/stat',
                        success: async function(response) {
                            const statData = await response.json();

                            const orderDateList = statData.map(s => s.orderDate);
                            const orderCountList = statData.map(s => s.orderCount);
                            const maxCount = Math.max.apply(null, orderCountList);
                            const correction = 5 - maxCount % 5; // 5단위 보정 값

                            var ctx = document.getElementById("myAreaChart");
                            var myLineChart = new Chart(ctx, {
                              type: 'line',
                              data: {
                                labels: orderDateList,
                                datasets: [{
                                  label: "주문수",
                                  lineTension: 0.3,
                                  backgroundColor: "rgba(2,117,216,0.2)",
                                  borderColor: "rgba(2,117,216,1)",
                                  pointRadius: 5,
                                  pointBackgroundColor: "rgba(2,117,216,1)",
                                  pointBorderColor: "rgba(255,255,255,0.8)",
                                  pointHoverRadius: 5,
                                  pointHoverBackgroundColor: "rgba(2,117,216,1)",
                                  pointHitRadius: 50,
                                  pointBorderWidth: 2,
                                  data: orderCountList,
                                }],
                              },
                              options: {
                                scales: {
                                  xAxes: [{
                                    time: {
                                      unit: 'date'
                                    },
                                    gridLines: {
                                      display: false
                                    },
                                    ticks: {
                                      maxTicksLimit: 7
                                    }
                                  }],
                                  yAxes: [{
                                    ticks: {
                                      min: 0,
                                      max: maxCount + correction,
                                      maxTicksLimit: 5
                                    },
                                    gridLines: {
                                      color: "rgba(0, 0, 0, .125)",
                                    }
                                  }],
                                },
                                legend: {
                                  display: false
                                }
                              }
                            });
                        },
                        fail: async function(response) {

                        }
                    });
                }

                function loadBarChart() {
                    fetchGet({
                        url: '/admin/order/product/stat',
                        success: async function(response) {
                            const statData = await response.json();

                            const productNameList = statData.map(s => s.productName);
                            const orderCountList = statData.map(s => s.orderCount);
                            const maxCount = Math.max.apply(null, orderCountList);
                            const correction = 5 - maxCount % 5; // 5단위 보정 값

                            var ctx = document.getElementById("myBarChart");
                            var myLineChart = new Chart(ctx, {
                              type: 'bar',
                              data: {
                                labels: productNameList,
                                datasets: [{
                                  label: "주문수",
                                  backgroundColor: "rgba(2,117,216,1)",
                                  borderColor: "rgba(2,117,216,1)",
                                  data: orderCountList,
                                }],
                              },
                              options: {
                                scales: {
                                  xAxes: [{
                                    time: {
                                      unit: 'month'
                                    },
                                    gridLines: {
                                      display: false
                                    },
                                    ticks: {
                                      maxTicksLimit: 6
                                    }
                                  }],
                                  yAxes: [{
                                    ticks: {
                                      min: 0,
                                      max: maxCount + correction,
                                      maxTicksLimit: 5
                                    },
                                    gridLines: {
                                      display: true
                                    }
                                  }],
                                },
                                legend: {
                                  display: false
                                }
                              }
                            });
                        },
                        fail: async function(response) {

                        }
                    });
                }
            </script>

            <script src="/js/datatables-simple-demo.js"></script>
        </main>
    </body>
</html>
