<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{admin/layout/layout :: layout(~{::title},~{::main})}"
      lang="ko"
>
<head>
  <title>관리자 - 상품 관리</title>
</head>
<body>
<main>
  <div class="container-fluid px-4">
    <h1 class="mt-4">상품 관리</h1>
    <ol class="breadcrumb mb-4">
      <li class="breadcrumb-item">상품</li>
      <li class="breadcrumb-item active">상품 관리</li>
    </ol>
    <div class="card mb-4">
      <div class="card-body">
        <form>
          <div class="mb-3 row">
            <label for="productNum" class="col-sm-2 col-form-label">상품번호</label>
            <div class="col-sm-4">
              <input type="text" class="form-control" id="productNum">
            </div>
          </div>
          <div class="row">
            <label for="productName" class="col-sm-2 col-form-label">상품명</label>
            <div class="col-sm-4">
              <input type="text" class="form-control" id="productName">
            </div>
            <div class="col-sm-2">
              <button class="btn btn-primary" id="btnNavbarSearch" type="button">
                <i class="fas fa-search"></i> 검색
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="card mb-4">
      <div class="card-header">
        <i class="fas fa-table me-1"></i>
        상품 목록
      </div>
      <div class="card-body">
        <table id="productList"></table>
        <div id="pager"></div>
      </div>
    </div>
  </div>

  <script src="/js/mallGrid.js"></script>
  <script>
    var mallGrid;

    $(function() {
      mallGrid = new MallGrid('jqGrid', {
        id: 'productList',  // grid id
		datatype: "json",   // 받아올 데이터 타입
		colNames:['날짜', '아이디', '이름','상품','가격','합계'],
		colModel:[
			{name:'Name', index:'date', width:90, align: "center"},
			{name:'Position', index:'name', width:100 , align: "center"},
			{name:'Office', index:'id', width:150, align: "center" },
			{name:'Age', index:'product', width:80, align: "center"},
			{name:'Start date', index:'amount', width:80, align: "center"},
			{name:'Salary', index:'total', width:80, align: "center"}
		],
		autowidth: true,   // true인 경우 화면 너비에 맞춤
		rownumbers : true, // 일련번호 컬럼 추가
		multiselect:true,  // 선택박스 컬럼 추가
		pager:'#pager',    // pager로 사용항 div의 id
		rowNum: 10,        // 초기 페이지당 출력 갯수
		rowList: [10, 20, 50],  //페이지 표출 갯수 리스트
		sortname: 'id',    // 초기 정렬 데이터명
		sortorder: 'asc',
		height: 250,
	  });
    });
  </script>
</main>
</body>
</html>
