<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{admin/layout/layout :: layout(~{::title},~{::main})}"
      lang="ko"
>
<head>
    <title>관리자 - 상품 관리</title>
</head>
<body>
<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4">상품 관리</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item">상품</li>
            <li class="breadcrumb-item">상품 관리</li>
            <li class="breadcrumb-item active">등록</li>
        </ol>

        <div class="card mb-4">
            <div class="card-body">
                <form id="searchForm">
                    <div class="mb-3 row">
                        <div class="col-sm-2"></div>
                        <div class="col-sm-2">
                            <img src="https://png.pngtree.com/thumb_back/fh260/background/20230609/pngtree-three-puppies-with-their-mouths-open-are-posing-for-a-photo-image_2902292.jpg" alt="상품 대표 이미지" height="200" width="200" />
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="mainImg" class="col-sm-2 col-form-label">상품 이미지 <span class="text-danger">*</span></label>
                        <div class="col-sm-4">
                            <input class="form-control" type="file" id="mainImg">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="productName" class="col-sm-2 col-form-label">상품명 <span class="text-danger">*</span></label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="productName" name="productName">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="price" class="col-sm-2 col-form-label">가격 <span class="text-danger">*</span></label>
                        <div class="col-sm-2">
                            <input type="number" class="form-control" id="price" name="price">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="descImg" class="col-sm-2 col-form-label">상세 이미지</label>
                        <div class="col-sm-4">
                            <input class="form-control" type="file" id="descImg">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2"></div>
                        <div class="col-sm-2">
                            <button class="btn btn-primary btn-lg w-100" id="btnNavbarSearch" type="button">
                                등록
                            </button>
                        </div>
                        <div class="col-sm-2">
                            <button class="btn btn-secondary btn-lg w-100" type="button">
                                뒤로
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>
</body>
</html>
