<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{admin/layout/layout :: layout(~{::title},~{::main})}"
      lang="ko"
>
<head>
    <title>관리자 - 주문 관리</title>
</head>
<body>
<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4">주문 관리</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item">주문</li>
            <li class="breadcrumb-item active">주문 관리</li>
        </ol>
        <div class="card mb-4">
            <div class="card-body">
                <form id="searchForm">
                    <div class="mb-3 row">
                        <label for="id" class="col-sm-2 col-form-label">주문 번호</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="id" name="id">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="memberId" class="col-sm-2 col-form-label">아이디</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="memberId" name="memberId">
                        </div>
                        <div class="col-sm-2">
                            <button class="btn btn-primary" id="btnNavbarSearch" type="button" onclick="searchOrderList();">
                                <i class="fas fa-search"></i> 검색
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                주문 목록
            </div>
            <div class="card-body" style="padding: 0;">
                <div id="orderList"></div>
            </div>
        </div>
    </div>

    <script>
        var mallGrid;

        $(function() {
            mallGrid = $("div#orderList").Grid({
              columns: [
                {id: "id", name: "주문 번호", width: "150px"},
                {id: "memberId", name: "아이디", width: "100px"},
                {id: "statusText", name: "상태", width: "100px"},
                {id: "payAmount", name: "주문 가격", width: "100px"},
                {id: "payDate", name: "결제일", width: "200px"},
              ],
              data: [],
              sort: true,
              language: {
                search: {
                  'placeholder': '🔍 검색중...'
                },
                pagination: {
                  'previous': '⬅️',
                  'next': '➡️',
                  'showing': '😃 번호',
                  'to': '~',
                  'of': ', 총',
                  'results': () => '건'
                },
                loading: 'Loading...',
                noRecordsFound: '검색 결과가 존재하지 않습니다.',
                error: '검색 중 오류가 발생하였습니다.'
              }
            });
        });

        // 조회
        function searchOrderList() {
            var formData = $('#searchForm').serialize();

            mallGrid.updateConfig({
              server: {
                url: '/admin/order/list?' + formData,
                then: res => res.data.map(row => [row.id, row.memberId, row.statusText, row.payAmount, row.payDate]),
                total: res => res.totalElements,
              },
              pagination: {
                limit: 5,
                server: {
                  url: (prev, page, limit) => `${prev}&limit=${limit}&page=${page + 1}`
                }
              },
              sort: {
                server: {
                  url: (prev, columns) => {
                   if (!columns.length) return prev + '&colName=id&dir=asc';

                   const col = columns[0];
                   const dir = col.direction === 1 ? 'asc' : 'desc';
                   let colName = ['id', 'memberId', 'statusText', 'payAmount', 'payDate'][col.index];

                   return `${prev}&colName=${colName}&dir=${dir}`;
                  }
                }
              }
            }).forceRender();
        }
    </script>
</main>
</body>
</html>
