<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{mall/layout/layout :: layout(~{::title},~{::main}, ~{::link}, null)}"
      lang="ko"
>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>상품 상세</title>

    <link rel="stylesheet" href="/css/mall/productDetail.css" />
</head>
<body>

<!-- 메인 컨텐츠 -->
<main class="main-content container mt-4">
    <!-- 상품 상세 페이지 -->
    <div class="container product-detail">
        <!-- 상품 이미지 -->
        <div class="product-image col-md-6">
            <img th:src="${'/admin/file/download?filePath=' + productInfo.mainPath}" alt="상품 이미지">
        </div>
        <!-- 상품 정보 -->
        <div class="product-info col-md-6">
            <input id="productId" type="hidden" th:value="${productInfo.id}">
            <input id="productPrice" type="hidden" th:value="${productInfo.price}">
            <h1 th:text="${productInfo.name}">상품명</h1>
            <p class="price" th:text="${#numbers.formatInteger(productInfo.price, 0, 'COMMA')} + '원'"></p>
            <p>이 상품은 박신사에서 관리하는 상품입니다. 최상의 품질로 상품을 고객님들게 제공하고 있습니다.</p>
            <div class="d-flex align-items-center">
                <label for="quantity" class="me-2">수량:</label>
                <input id="quantity" type="number" class="form-control quantity-selector" value="1" min="1" onchange="updateTotalPrice()">
            </div>
            <!-- 총 금액 표시 -->
            <p id="totalPrice" class="total-price" th:text="'총 금액: ' + ${#numbers.formatInteger(productInfo.price, 0, 'COMMA')} + '원'"></p>
            <div class="mt-3">
                <button class="btn btn-primary btn-lg me-2">구매하기</button>
                <button class="btn btn-secondary btn-lg" onclick="addInCart();">장바구니</button>
            </div>
        </div>
    </div>

    <!-- 상세 설명 -->
    <div class="container description">
        <!-- <h3>상세 설명</h3> -->
        <img th:src="${'/admin/file/download?filePath=' + productInfo.descPath}" alt="상세 설명 이미지">
    </div>

    <script>
        function updateTotalPrice() {
            const quantity = $('#quantity').val();
            if (quantity) {
                const price = $('#productPrice').val();
                const totalPrice = Number(quantity) * Number(price);
                const formattedPrice = new Intl.NumberFormat('ko-KR').format(totalPrice);

                $('#totalPrice').text('총 금액: ' + formattedPrice + '원');
            }
        }

        function addInCart() {
            const id = $('#productId').val();
            const quantity = $('#quantity').val();
            cart.addProductInCart({ id: Number(id), quantity: Number(quantity) });
        }
    </script>
</main>

</body>
</html>
