<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{mall/layout/layout :: layout(~{::title},~{::main}, ~{::link}, null)}"
      lang="ko"
>   
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>상품 리스트</title>

    <link rel="stylesheet" href="/css/mall/productList.css" />
</head>
<body>

<!-- 메인 컨텐츠 -->
<main class="main-content container mt-4">
    <!-- 검색 바 -->
    <div class="search-bar">
        <input id="searchInput" type="search" placeholder="검색어를 입력하세요" aria-label="Search" th:value="${searchText}">
        <button type="submit" onclick="search();">검색</button>
    </div>

    <div class="container-fluid">
        <div class="row">
            <!-- 사이드바 -->
            <div class="col-md-3 sidebar">
                <h4>카테고리</h4>
                <a href="#">전자제품</a>
                <a href="#">패션</a>
                <a href="#">가전제품</a>
                <a href="#">도서</a>
                <a href="#">식품</a>
                <a href="#">뷰티</a>
                <a href="#">생활용품</a>
                <a href="#">스포츠</a>
            </div>

            <!-- 상품 리스트 영역 -->
            <div class="col-md-9 content">
                <div class="row">
                    <!-- 상품 정보 -->
                    <div class="col-md-4" th:each="product : ${productList}">
                        <div class="card">
                            <img th:src="${'/admin/file/download?filePath=' + product.mainPath}" class="card-img-top" alt="상품 이미지">
                            <div class="card-body">
                                <h5 class="card-title" th:text="${product.name}">상품 1</h5>
                                <p class="card-text">이 상품은 박신사에서 관리하는 상품입니다.</p>
                                <p class="card-text text-primary" th:text="${#numbers.formatInteger(product.price, 0, 'COMMA') + '원'}">0</p>
                                <!-- 버튼 그룹 -->
                                <div class="btn-group">
                                    <a th:href="'/product/detail?productId=' + ${product.id}" class="btn btn-primary" target="_blank">구매하기</a>
                                    <a class="btn btn-secondary" th:onclick="'addInCart(' + ${product.id} + ')'">장바구니</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 페이지 네비게이션 -->
                <nav>
                    <ul class="pagination justify-content-center">
                        <li class="page-item" th:if="${page != 1}" th:onclick="'search(' + ${page - 1} + ');'">
                            <a class="page-link" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li class="page-item"
                            th:classappend="${page == i} ? 'active' : ''"
                            th:each="i : ${#numbers.sequence(firstPage, lastPage)}"
                            th:onclick="'search(' + ${i} + ');'"
                        >
                            <a class="page-link">[[${i}]]</a>
                        </li>
                        <li class="page-item" th:if="${page != totalPages}" th:onclick="'search(' + ${page + 1} + ');'">
                            <a class="page-link" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>

    <script>
        function search(page) {
            let queryString = '';

            const searchText = $('#searchInput').val();
            if (searchText) {
                queryString = queryString ? '&' : '?';
                queryString += 'searchText=' + searchText;
            }

            if (page) {
                queryString = queryString ? '&' : '?';
                queryString += 'page=' + page;
            }

            location.href = '/product/list' + queryString;
        }

        function addInCart(id) {
            cart.addProductInCart({ id, quantity: 1 });
        }
    </script>
</main>

</body>
</html>
